@tailwind base;

@tailwind components;

@tailwind utilities;


.input-group {
    @apply my-3 flex w-3/5 justify-between items-center;
}

.input {
    @apply p-2 text-gray-800 border border-gray-200 rounded-sm;

    &:focus {
        @apply border-gray-400;
    }
}

.overlay-box {
    position: absolute;
    width: 400px;
    // height: 200px;
    background: white;
    top: 0;
    left: 33%;
    @apply shadow-lg;
    display: none;
    opacity: 0;
    transition: 0.2s linear;
}